<div *ngIf="isLoggedIn">
    <h2>Import meals from Markdown</h2>
    <textarea class="create-box" [(ngModel)]="markdownInput" placeholder="Enter meals in markdown format"></textarea>
    <br>
    <button class="input-button" (click)="createMeals()">Create Meals</button>
</div>

<h2>Existing meals ({{ meals.length }})</h2>
<input class="search-box" type="text" [(ngModel)]="searchTerm" placeholder="Search for meals"
    (input)="updateFilteredMeals()">
<div class="meal-list">
    <div *ngFor="let meal of filteredMeals" class="meal-item">
        <!-- <input type="checkbox" [id]="meal.name" /> -->
        <span>
            <input type="checkbox" [(ngModel)]="mealSelection[meal.id]" (change)="toggleMealSelection(meal)" />
            <label [for]="meal.name">{{ meal.name }}</label>
        </span>
        <span>
            <button class="edit-button" (click)="openEditModal(meal)">
                <i class="fas fa-edit"></i>
            </button>
            <button class="delete-button" (click)="removeMeal(meal.id)">
                <i class="fas fa-trash-alt"></i>
            </button>
        </span>
    </div>
</div>

<app-meal-modal [meal]="selectedMeal" (cancel)="closeEditModal()" (save)="updateMeal($event)"></app-meal-modal>