.app-container {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  flex-basis: 50%;
  /* Set both columns to occupy 50% of the container's width */
  padding: 10px;
  /* Optional: Add some padding for spacing */
}

.align-right {
  /* Use flexbox to align the span to the right */
  margin-left: auto;
}

.toolbar-item a {
  margin-right: 10px;
  /* Add spacing between the link and icon */
  color: white;
  /* Set the default text color to white */
  text-decoration: none;
  /* Remove underlines from the link */
  transition: color 0.3s;
  /* Smooth color transition */
}

.toolbar-item a:hover {
  color: red;
  /* Change the text color to red on hover */
}