<h2>Create New Menu</h2>
<label>Number of meals:</label>
<input class="text-input" type="number" id="numMeals" [(ngModel)]="numMeals" />
<br>
<button class="input-button" (click)="createNewMenu()">Create New Menu</button>
<!-- Display the list of meal names in the menu -->
<!-- <ul>
    <li *ngFor="let meal of menuMeals">{{ meal.name }}</li>
</ul> -->

<div class="meal-list">
    <div *ngFor="let meal of menuMeals" class="meal-item">
        <input type="checkbox" [checked]="selectedMeals.includes(meal.id)" (change)="onMealSelected(meal.id)">
        <label [for]="meal.name">{{ meal.name }}</label>
    </div>
</div>