<h2>Menu List</h2>
<div class="menu-list">
    <div *ngFor="let menu of menuList" class="menu-meal-item">
        <span>
            <label [for]="menu.name"><b>{{ menu.name }}</b>({{ menu.meals.length }} meals, Menu ID: {{ menu.id
                }})</label>
        </span>
        <span>
            <button class="edit-button" (click)="viewMenuDetails(menu.id)">
                <i class="fa-solid fa-eye"></i>
            </button>
        </span>
    </div>
</div>
<h2>Create New Menu</h2>
<label>Number of meals:</label>
<input class="text-input" type="number" id="numMeals" [(ngModel)]="numMeals" />
<br>
<button class="input-button" (click)="createNewMenu()">{{generateButtonLabel}}</button>
<!-- Button to trigger commit_menu -->
<button class="input-button-commit" *ngIf="menuMeals.length > 0" (click)="commitMenu()">Can't wait, I'm in!</button>
<!-- Display the list of meal names in the menu -->
<!-- <ul>
    <li *ngFor="let meal of menuMeals">{{ meal.name }}</li>
</ul> -->

<div class="meal-list">
    <div *ngFor="let meal of menuMeals" class="menu-meal-item">
        <input type="checkbox" [(ngModel)]="mealSelection[meal.id]" (change)="toggleMealSelection(meal)" />
        <label [for]="meal.name">{{ meal.name }}</label>
    </div>
</div>