/* menu.component.css */
/* Add this style to add a vertical scrollbar to the menu list container */
.menu-list {
  height: 300px;
  /* Adjust the height as per your requirement */
  overflow-y: auto;
}

/* Style for the container div */
.container {
  text-align: center;
}

/* Add this style for individual menu items */
.menu-meal-item {
  /* Add your styles for each menu item here, e.g., padding, margin, etc. */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  /* Make sure the container for each menu allows for text wrapping as well */
  align-items: left;
}

.menu-meal-item:hover {
  background-color: #d2e6ff
}

.detail-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.detail-button {
  color: rgb(98, 220, 137);
}

.detail-button:hover {
  color: rgb(60, 202, 105);
}

/* Style for the input button */
.input-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #dd0031;
  background-color: #dd0031;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the input button */
.input-button-commit {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #00dd8c;
  background-color: #00dd8c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Hover effect for the input button */
.input-button:hover {
  background-color: #fff;
  color: #dd0031;
}

/* Hover effect for the input button */
.input-button-commit:hover {
  background-color: #fff;
  color: #00dd8c;
}

/* Active (click) effect for the input button */
.input-button:active {
  background-color: #dd0031;
  color: #fff;
}

/* Active (click) effect for the input button */
.input-button-commit:active {
  background-color: #00dd8c;
  color: #fff;
}

/* Style for the text input */
.text-input {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}

/* Hover effect for the text input */
.text-input:hover {
  border-color: #aaa;
}

/* Focus effect for the text input */
.text-input:focus {
  outline: none;
  border-color: #dd0031;
  box-shadow: 0 0 5px rgba(221, 0, 49, 0.5);
}

.menu-dropdown {
  background-color: rgb(245, 245, 245);
}

.menu-dropdown-item {
  background-color: rgb(255, 250, 240);
  /* Add your styles for each meal item here, e.g., padding, margin, etc. */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  /* Make sure the container for each meal allows for text wrapping as well */
  white-space: normal;
  display: flex;
  justify-content: space-between;
  align-items: left;
}