<h2>Create New Menu</h2>
<select class="select" [(ngModel)]="selectedDuration">
    <option value="weekend">Week-end</option>
    <option value="week">Week</option>
    <option value="twoWeeks">Two Weeks</option>
    <option value="month">Month</option>
</select>
<br>
<button class="input-button" (click)="createNewMenu()">{{generateButtonLabel}}</button>
<!-- Button to trigger commit_menu -->
<button class="input-button-commit" *ngIf="menuMeals.length > 0" (click)="commitMenu()">Can't wait, I'm in!</button>
<div class="meal-list" *ngIf="menuMeals.length > 0">
    <div *ngFor="let meal of menuMeals" class="menu-meal-item">
        <span [ngStyle]="{'justify-content': 'space-between','display': 'flex'}">
            <span>
                <input type="checkbox" [(ngModel)]="mealSelection[meal.id]" (change)="toggleMealSelection(meal)" />
                <label [for]="meal.name">{{ meal.name }}</label>
            </span>
            <span class="nutriscore"
                [ngStyle]="{'background': getNutriscoreColor(meal.nutriscore),'align-item':'right'}">{{meal.nutriscore}}
            </span>
        </span>
    </div>
</div>