<h2>Create New Menu</h2>
<p>
    <a routerLink="/menus">(See existing menus)</a>
</p>
<label>Number of meals:</label>
<input class="text-input" type="number" id="numMeals" [(ngModel)]="numMeals" />
<br>
<button class="input-button" (click)="createNewMenu()">{{generateButtonLabel}}</button>
<!-- Button to trigger commit_menu -->
<button class="input-button-commit" *ngIf="menuMeals.length > 0" (click)="commitMenu()">Can't wait, I'm in!</button>

<div class="meal-list">
    <div *ngFor="let meal of menuMeals" class="menu-meal-item">
        <input type="checkbox" [(ngModel)]="mealSelection[meal.id]" (change)="toggleMealSelection(meal)" />
        <label [for]="meal.name">{{ meal.name }}</label>
    </div>
</div>