<div class="menu-list">
    <div *ngFor="let menu of menuList" class="menu-meal-item" (click)="toggleDropDown(menu)">
        <span>
            <label [for]="menu.name"><b>{{ menu.name }}</b>({{ menu.meals.length }} meals)</label>
        </span>
        <BR>
        <span><i>{{menu.generation_date}}</i></span>
        <span>
            <button class="print-button" (click)="exportMenu(menu)"><i class="fa-solid fa-download"></i></button>
        </span>
        <div id="printable-menu-item" class="dropdown-panel" *ngIf="menu.show">
            <div class="menu-dropdown">
                <div *ngFor="let meal of menu.meals" class="menu-dropdown-item">
                    <label [for]="meal.name">{{ meal.name }}</label>
                </div>
            </div>
        </div>
    </div>
</div>